html { box-sizing: border-box;}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    color: #404040;
    letter-spacing: 1.1px;
}

img {
    display: block;
    width: 100%;
}